<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <% provide(:form_url, signup_path) %>
        <% provide(:btn_caption, "Create my account" )%>
        <%= render 'layouts/user_form' %>
    </div>
</div>
